### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
.staticfiles/
.media/

# Sphinx documentation
docs/_build/

# npm
node_modules/

# Campass
.sass-cache

# Celery
celerybeat-schedule

# Vagrant
.vagrant

# Redis
dump.rdb

# python-dotenv
.env

# Stack Overflow Clone
_docs_html/
media/
provisioner/site.retry

# Virtualenv
venv/

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Pycharm
.idea/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt

.idea/
.vscode/
.sass-cache/
.versions/
collection/
dist/
tmp/
temp/
core/theme-builder/
core/test-components/
core/css/
angular/css/
$RECYCLE.BIN/
angular/css/
core/loader/
angular/build/
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.package.tmp.json

src/themes/version.scss
scripts/e2e/webpackEntryPoints.json
scripts/build/e2e-generated-tsconfig.json
*.css.ts

stats.json
